#pic{
    width: 450px;
    height: 350px;
    margin-right: 200px;
}
#list{
    width:100%; 
    margin:0; 
    padding:0; 
    list-style:none
}
#list li{
    line-height:20px; 
    padding:5px 0; 
    color:#333; 
    border:3px solid slategray;
    border-bottom: 1px solid slategray;
    
    opacity: 0.7;
}
#list li:hover{
    transform: scale(1.1);
}
#list li #username{
    color:black;
    font-size: 18px;
    margin-left: 100px;
    font-family:fantasy;
}
#list li #comment{
    margin-left: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
#list li #date{
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#collect{
    width: 50px;
    height: 50px;
}