{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Add a Category
{% endblock %}
{% block index_block %}
Add a Category
{% endblock %}
{% block body_block %}
<div class="login-div"></div>
    <div class="user">
        <form id="user-form" method="post" action="{% url 'rango:add_category' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="field">
                <label>Name:</label>
                {{ form.name }}
            </div>
            <div class="field">
                <label>Description:</label>
                {{ form.description }}
            </div>
            <div class="field">
                <label>Image:</label>
                {{ form.image }}
            </div>
            <input class="button theme-bg addC" type="submit" name="submit" value="Create Category" />
        </form>
    </div>
{% endblock %}