{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {% if category %}
      {{ category.name }}
    {% else %}
       Unknown Category
    {% endif %}
{% endblock %}
{% block index_block %}
   {% if category %}
      {{ category.name }}
   {% else %}
      Unknown Category
   {% endif %}
{% endblock %}
{% block body_block %}
<div class="newspage-area">
    <div class="container">
        <div class="section-title text-center">
            <h2>What's {{ category.name }}</h2>
            <p>{{ category.description }}</p><br \>
            <!--only user with attribute is_staff = 1 can see this link-->
            {% if user.is_staff == 1 %}
            <a class="stafflink" href="{% url 'rango:add_page' category.slug  %}">Hello Staff: {{user.username}}. Add News Here!</a>
            {% endif %}          
        </div>
        <div class="row">
            {% if pages %}
            {% for page in pages %}
            <div class="col-md-6">
                <div class="newspage-img-info">
                    <img src="{{ MEDIA_URL }}{{ page.image }}" alt="">
                    <div class="newspage-info">
                        <div class="newspage-title">
                            <h3><a href="{% url 'rango:show_page' page.category.slug page.slug %}">{{ page.title }}</a></h3>
                        </div>
                        <div class="newspage-time-date">
                            <span>Likes: {{ page.likes }}</span>
                            <span>Views: {{ page.views }}</span>
                            <span>Comments: {{ page.comments }}</span>
                            <span>Marks: {{ page.marks }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>      
    
{% endblock %}