{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Homepage
{% endblock %}
{% block index_block %}
    Welcome to News World
{% endblock %}

{% block body_block %}
<div class="causes-area pt-120 pb-90">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Most Viewed News</h2>
            <div class="icon-img">
                <img class="iconimg" src="{% static 'images/NewsLogo.jpg' %}" alt="">
            </div>
            <p>Our most viewed news</p>
        </div>
        <div class="row">
            {% if pages %}
            {% for page in pages %}
            <div class="col-md-4 col-sm-4">
                <div class="single-causes mb-30">
                    <a href="{% url 'rango:show_page' page.category.slug page.slug %}"><img src="{{ MEDIA_URL }}{{ page.image }}" alt="Currently no picture" /></a>
                    <div class="causes-info">
                        <h3><a href="{% url 'rango:show_page' page.category.slug page.slug %}">{{ page.title }}</a></h3>
                        <p style="overflow: hidden;">{{ page.description }}</p>
                        <div class="causes-meta">
                            <div class="doller-target f-left">
                                <h4>Views : <span>{{ page.views }}</span></h4>
                            </div>
                            <div class="doller-target f-right">
                                <h4>Likes : <span>{{ page.likes }}</span></h4>
                            </div>
                        </div>
                        <div class="causes-meta">
                            <div class="doller-target f-left">
                                <h4>Comments : <span>{{ page.comments }}</span></h4>
                            </div>
                        </div>
                        <a class="button theme-bg" href="{% url 'rango:show_page' page.category.slug page.slug %}">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="blog-area pt-120 pb-90">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Most Liked Categories</h2>
            <div class="icon-img">
                <img src="{% static 'images/NewsLogo.jpg' %}" style="height: 40px; width: 40px;" alt="">
            </div>
            <p>Our most liked categories</p>
        </div>
        <ul>
            {% if categories %}
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4 col-sm-4">
                    <div class="single-blog mb-30" id = "blogs">
                        <div class="blog-img">
                            <a href="{% url 'rango:show_category' category.slug %}"><img class="viewsimg" src="{{ MEDIA_URL }}{{ category.image }}" alt="Currently no picture" /></a>
                            <div class="blog-icon">
                                <a class="blog-link" href="{% url 'rango:show_category' category.slug %}">
                                    <img src="assets/img/icon-img/4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="blog-info">
                          <div class="category-des"> 
                            <span>{{ category.description }}</span>
                          </div>                         
                            <h3><a href="{% url 'rango:show_category' category.slug %}">{{ category.title }}</a></h3>
                            <a href="{% url 'rango:show_category' category.slug %}">Read More </a>
                            <div class="doller-target f-right">
                                <h4>Likes : <span>{{ category.likes }}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
               
            {% endfor %}
        </ul>
        {% endif %} 
</div>
</div>
{% endblock %}

