{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
Homepage
{% endblock %}
{% block index_block %}
    Welcome to News World
{% endblock %}

{% block body_block %}
<div class="viewednews-area">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Most Viewed News</h2>
            <div class="icon-img">
                <img class="iconimg" src="{% static 'images/NewsLogo.jpg' %}" alt="">
            </div>
            <p>Our most viewed news</p>
        </div>
        <div class="row">
            {% if pages %}
            {% for page in pages %}
            <div class="col-md-4 col-sm-4">
                <div class="viewednews-section">
                    <a href="{% url 'rango:show_page' page.category.slug page.slug %}"><img src="{{ MEDIA_URL }}{{ page.image }}" alt="Currently no picture" /></a>
                    <div class="viewednews-info">
                        <div class="viewednews-title">
                            <h3><a href="{% url 'rango:show_page' page.category.slug page.slug %}">{{ page.title }}</a></h3>
                        </div>
                        <div class="viewednews-des">
                            <p>{{ page.description }}</p>
                        </div>
                        <div class="viewednews-meta">
                            <div class="information-target f-left">
                                <h4>Views : <span>{{ page.views }}</span></h4>
                            </div>
                            <div class="information-target f-right">
                                <h4>Likes : <span>{{ page.likes }}</span></h4>
                            </div>
                        </div>
                        <div class="viewednews-meta">
                            <div class="information-target f-left">
                                <h4>Comments : <span>{{ page.comments }}</span></h4>
                            </div>
                        </div>
                        <a class="button theme-bg" href="{% url 'rango:show_page' page.category.slug page.slug %}">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="blog-area">
    <div class="container">
        <div class="section-title text-center">
            <h2>Most Liked Categories</h2>
            <div class="icon-img">
                <img src="{% static 'images/NewsLogo.jpg' %}" alt="">
            </div>
            <p>Our most liked categories</p>
        </div>
        <ul>
            {% if categories %}
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4 col-sm-4">
                    <div class="single-blog" id = "blogs">
                        <div class="blog-img">
                            <a href="{% url 'rango:show_category' category.slug %}"><img src="{{ MEDIA_URL }}{{ category.image }}" alt="Currently no picture" /></a>
                        </div>
                        <div class="blog-info">
                          <div class="category-des"> 
                            <span><h3>{{ category.name }}</h3>{{ category.description }}</span>
                          </div>                         
                            <h3><a href="{% url 'rango:show_category' category.slug %}">{{ category.title }}</a></h3>
                            <a href="{% url 'rango:show_category' category.slug %}">Read More </a>
                            <div class="information-target f-right">
                                <h4>Likes : <span>{{ category.likes }}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
               
            {% endfor %}
        </ul>
        {% endif %} 
</div>
</div>
{% endblock %}

