{% extends 'rango/base.html' %} 
{% load staticfiles %}
{% block title_block %} 
Login 
{% endblock %}
{% block index_block %}
Login
{% endblock %}
{% block body_block %}
<div class="login-div"></div>
<div class="user">
        <h1>Login</h1><br />
        <form id="user-form" method="post" action="{% url 'rango:login' %}"> 
            {% csrf_token %} 
            <p>Username:</p><input type="text" name="username" value="" /><br /><br /> 
            <p>Password:</p><input type="password" name="password" value="" /><br /><br />
            <input class="button theme-bg login-button" type="submit" value="Login" /> 
        </form> 
        <br />
        <br />
        <span class="suggestion">Login with github account:</span><br />
        <a class="git-link" href="{% url 'social:begin' 'github' %}"><i class="iconfont icon-GitHub"></i></a><br /><br />
        <!--define third-party login-->
        <a class="toregister" href="{% url 'rango:register' %}">Register a Account</a>
    </div>
</div>
{% endblock %}
