{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {% if page %}
      {{ page.title }}
    {% else %}
       Unknown News
    {% endif %}
{% endblock %}
{% block ajax_block %}
<script type="text/javascript">
function add_like(current_elem, page_id){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'rango:like_page' %}",
        data:{'page_id':page_id},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == 'Please login'){
                    window.location.href="{% url 'rango:login' %}";
                }else{
                    current_elem.text(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

function add_mark(current_elem, page_id){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'rango:mark_page' %}",
        data:{'page_id':page_id},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == 'Please login'){
                    window.location.href="{% url 'rango:login' %}";
                }else{
                    current_elem.text(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

$(document).ready(function() {
    $('#like_page_btn').click(function() {
        var pageIDVar;
        var i = $(this).attr("class");
        pageIDVar = $(this).attr('data-pageid');
        add_like($(this),pageIDVar);

        if(i == "iconfont icon-dianzan3"){
            $(this).attr("class","iconfont icon-zan");
        }else{
            $(this).attr("class","iconfont icon-dianzan3");
        }
    });
});
$(document).ready(function() {
    $('#mark_page_btn').click(function() {
        var pageIDVar;
        var i = $(this).attr("class");
        pageIDVar = $(this).attr('data-pageid');
        add_mark($(this),pageIDVar);
        if(i == "iconfont icon-shoucang6"){
            $(this).attr("class","iconfont icon-shoucang5");
        }else{
            $(this).attr("class","iconfont icon-shoucang6");
        }
    });
});
</script>
{% endblock %}
{% block index_block %}
  {{page.title}}
{% endblock %}
{% block body_block %}
<div class="event-all-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-left-sidebar">
                    <div class="event-text">
                        <h3>{{ page.title }}</h3>
                        {% if like %}
                        <i class="iconfont icon-dianzan3" id="like_page_btn" data-pageid="{{ page.id }}"></i>
                        {% else %}
                        <i class="iconfont icon-zan" id="like_page_btn" data-pageid="{{ page.id }}">
                        </i>
                        {% endif %}
                        {% if mark %}
                        <i class="iconfont icon-shoucang6" id="mark_page_btn" data-pageid="{{ page.id }}">
                        </i>
                        {% else %}
                        <i class="iconfont icon-shoucang5" id="mark_page_btn"  data-pageid="{{ page.id }}">
                        </i>
                        {% endif %}
                        <p>{{ page.description }}</p>
                        <a style="color: black; font-size: 20px;" href="{{ page.url }}">Go to the original link!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img id = "pic" src="{{ MEDIA_URL }}{{ page.image }}" alt="">
            </div>
        </div>
    </div>
</div>
<div style="background: white; height: 100px; width: 100%;"></div>
{% if comments %}
<ul id = "list">
   {% for comment in comments %}
      <li><span id="username">{{ comment.user.username }} :<br \></span> 
        <span id = "comment">{{ comment.content }}</span> <span id = "date">Date: {{ comment.time }}</span></li>
   {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<div class="become-volunter-area gray-bg ptb-100">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Share your opinion</h2>
            <span class="iconfont icon-shoucan"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-title-form">
                    <div class="leave-form">
                        <form id="add_comment_form" method="post" action="{% url 'rango:add_comment' category.slug page.slug %} ">
                            {% csrf_token %}   
                                <div class="col-md-12">
                                    {{ form.content }}
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="submit" type="submit">Send Now</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}