{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {% if page %}
      {{ page.title }}
    {% else %}
       Unknown News
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if page %}
        <h1>{{ page.title }}</h1><br />
        <a href="{{ page.url }}">{{ page.title }}</a>
        
    {% else %}
    <strong>No particular news.</strong>
    {% endif %}
    {% if user.is_authenticated %}
    <div>
        <form id="add_comment_form" method="post" action="{% url 'rango:add_comment' category.slug page.slug %} ">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Send Comment" />
        </form>
    </div>
    <img id ="collect" src="{% static 'images/collect.png' %}" alt="Picture of Collect" />
    {% endif %}
    {% if comments %}
    <ul>
           {% for comment in comments %}
              <li>{{ comment.user.username }}: {{ comment.content }} {{ comment.time }}</li>
           {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
{% block custom_js %}
{% endblock %}