{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {% if page %}
      {{ page.title }}
    {% else %}
       Unknown News
    {% endif %}
{% endblock %}
{% block ajax_block %}
<script type="text/javascript" src="{% static 'js/ajax_rango.js' %}"></script>
{% endblock %}
{% block index_block %}
  {{page.title}}
{% endblock %}
{% block body_block %}
<div class="event-all-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-left-sidebar">
                    <div class="event-text">
                        <h3>{{ page.title }}</h3><br/>
                        Like:&nbsp&nbsp
                        {% if like %}
                        <i class="iconfont icon-dianzan1" data-url="{% url 'rango:like_page' %}" id="like_page_btn" data-pageid="{{ page.id }}"></i>
                        {% else %}
                        <i class="iconfont icon-dianzan" data-url="{% url 'rango:like_page' %}" id="like_page_btn" data-pageid="{{ page.id }}">
                        </i>
                        {% endif %}
                        Mark:&nbsp&nbsp
                        {% if mark %}
                        <i class="iconfont icon-shoucang6" data-url="{% url 'rango:mark_page' %}" id="mark_page_btn" data-pageid="{{ page.id }}">
                        </i>
                        {% else %}
                        <i class="iconfont icon-shoucang5" data-url="{% url 'rango:mark_page' %}" id="mark_page_btn" data-pageid="{{ page.id }}">
                        </i>
                        {% endif %}
                        <br/><br/>
                        <p>{{ page.description }}</p><br \>
                        <a id = "eventlink" href="{{ page.url }}">Go to the original link!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img id = "pic" src="{{ MEDIA_URL }}{{ page.image }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class = "white-block"></div>
{% if comments %}
<ul id = "list">
   {% for comment in comments %}
      <li><span id="username">{{ comment.user.username }} :<br \></span> 
        <span id = "comment">{{ comment.content }}</span> <span id = "date">Date: {{ comment.time }}</span></li>
   {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<div class="become-volunter-area gray-bg ptb-100">
    <div class="container">
        <div class="section-title text-center mb-75">
            <h2>Share your opinion</h2>
            <span class="iconfont icon-shoucan"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="contact-title-form">
                    <div class="leave-form">
                        <form id="add_comment_form" method="post" action="{% url 'rango:add_comment' category.slug page.slug %} ">
                            {% csrf_token %}   
                                <div class="col-md-12">
                                    {{ form.content }}
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="submit" type="submit">Send Now</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}