{% extends 'rango/base.html'  %}
{% load staticfiles %}

{% block title_block %}
   Register
{% endblock %}
{% block index_block %}
Create a Account
{% endblock %}
{% block body_block %}
<div class="register">
    <br />
    <h1>Register Now</h1><br /><br />
{% if registered %}
    <h4><strong>Thank you for registering!</strong></h4><br />
    <a class="register-return" href="{%url 'rango:index' %}">Return to the homepage.</a>
{% else %}
</div>

<div class="user">
    <form id="user-form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label>Username:</label>
            {{ user_form.username }}
        </div>
        <div class="field">
            <label>Password:</label>
            {{ user_form.password }}
        </div>
        <div class="field">
            <label>Email:</label>
            {{ user_form.email }}
        </div>
        <div class="field">
            <label>Website:</label>
            {{ profile_form.website }}
        </div>
        <div class="field">
            <label>Picture:</label>
            {{ profile_form.picture }}
        </div>
        <input class="button theme-bg user-form-button" type="submit" name="submit" value="Register" />
    </form>
</div>
{% endif %}
{% endblock %}
