{% extends 'rango/profile.html' %}
{% block listblock %}
    <div class="userList f-left">
        {% if comments %}
        <ul class="userul">
        {% for comment in comments %}
        <li><span>{{ comment.page.category }}</span>:<br /><span class="marktitle">{{ comment.page.title }}</span><br /><br />
            <span class="markurl">{{ comment.content }}</span><br />
        <a data-url="{% url 'rango:deletecomment' %}" data-id="{{ comment.id }}" class="delete" href="">Delete</a>
    </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    </div>
{% endblock %}
