{% extends 'rango/profile.html' %}
{% block listblock %}
<div class="userList f-left">
    {% if likes %}
    <ul class="userul">
    {% for like in likes %}
    <li><span>{{ like.page.category }}</span>:<br /><span class="marktitle">{{ like.page.title }}</span><br />
        <span class="likeurl">{{ like.page.url }}</span><br />
    <a data-url="{% url 'rango:deletelike' %}" data-id="{{ like.id }}" class="delete" href="">Delete</a>
</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}