{% extends 'rango/profile.html' %}
{% block listblock  %}
    <div class="userList f-left">
        {% if marks %}
        <ul class="userul">
        {% for mark in marks %}
        <li><span>{{ mark.page.category }}</span>:<br /><span class="marktitle">{{ mark.page.title }}</span><br />
            <span class="markurl">{{ mark.page.url }}</span><br />
        <a data-url="{% url 'rango:deletemark' %}" data-id="{{ mark.id }}" class="delete" href="">Delete</a>
    </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    </div>
{% endblock %}
